.index {
    // border: 1px solid red;
    height: 100vh;
    background: linear-gradient(180deg, #4169E1 0%, rgba(193, 65, 225, 0.3) 50%, rgba(193, 65, 225, 0.05) 100%);
    font-family: "Open Sans";
}
​
.content {
    // border: 1px solid red;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 350px;
    top: 200px;
    background: #ffffff;
    color: #333333;
}
​
.cta {
    // border: 1px solid red;
    position: relative;
    top: 55px;
    text-align: center;
    font-family: "Montserrat";
    font-size: 28px;
    font-weight: 600;
}
​
#looking-for {
    position: relative;
    top: 95px;
    text-align: center;
    // font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
}
​
.preferences {
    position: relative;
    top: 120px;
}
​
.roll-cafe {
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 160px;
    height: 35px;
    width: 320px;
    border-radius: 50px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}
​
#zip {
    border: none;
    position: relative;
    height: 85%;
    left: 12px;
    font-size: 10px;
}
​
#cafe-submit {
    height: 35px;
    border: none;
    width: 110px;
    background-color: #FF7F50;
    color: #ffffff;
    border-radius: 50px;
    font-size: 12px;
}
​
#cafe-submit:hover {
    cursor: pointer;
}