.index {
    height: 100vh;
    background: linear-gradient(180deg, #4169E1 0%, rgba(193, 65, 225, 0.3) 50%, rgba(193, 65, 225, 0.05) 100%);
    font-family: "Open Sans";
}


.page {
    position:absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #4169E1 0%, rgba(65,225,167,0.3) 50%, rgba(65,225,167,0.05) 100%);
    font-family: "Open Sans";
    display: flex;
    flex-direction: column;
    align-items:space-evenly;
    min-height: 100%;
    min-width: 100%
}

.photo {
    position: relative;
    width: 610px;
    height: 344px;
    border-radius: 5px;
    border: 1px solid rgba(51, 51, 51, 0.5);
}

.profile {
    position: relative;
    width: 550px;
    margin-bottom: 5px;
    padding-top: 30px;
    padding-bottom: 28px;
    padding-left: 30px;
    padding-right: 30px;
    background: white;
    border-radius: 5px;
    border: 1px solid rgba(51, 51, 51, 0.5);
    font-size: 13px;
}

.title {
    display: flex;
    justify-content: space-between;
}

.name {
    font-size: 24px;
    margin-bottom: -40px;
}

.yelp {
    height: 35px;
    width: 120px;
    background-color: #FF7F50;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    font-size: 12px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: "Montserrat";
    font-weight: 600;
}

.yelp:hover {
    cursor: pointer;
    position: relative;
    top: 1px;
    box-shadow: none;
}

#yelp-text {
    position: relative;
    top: 12px;
}

.time {
    color: rgba(51, 51, 51, 0.5);
    margin-top: -8px;
    padding-top:4px;
    padding-left:1px;
}

.address {
    margin-top: 20px;
}

.shelter {
    margin-top: 6px;
    color: red;
}

.cafe {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.left-right {
    width: 1120px;
    display: flex;
    justify-content: space-between;
}

.map {
    width: 500px;
    margin-left: 5px;
    
    border: 1px solid rgba(51, 51, 51, 0.5);
    height:500px;
    border-radius: 5px;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 11%;
    padding-bottom: 5%
}

.new-cafe {
    font-family: "Montserrat";
    font-size: 14px;
    position: relative;
    text-align: center;
    margin-top: 10px;
}

.new-cafe span {
    color: #4169E1;
}

.new-cafe span:hover {
    cursor: pointer;
}

.loading-yes {
    position: relative;
    top: 14px;
    margin-bottom: 8px;
    // width: 72px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 13.5px;
    color: rgba(65, 105, 225, 0.8);
    outline: none;
}

.loading-yes:hover {
    cursor: pointer;
    // font-weight:bold;
    color:#4169E1;
}

.loading-no {
    position: relative;
    top: 14px;
    margin-bottom: 8px;
    // width: 72px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 13.5px;
    color: rgba(65, 105, 225, 0.8);
    outline: none;
    margin-left: 20px;
}

.loading-no:hover {
    cursor: pointer;
    // font-weight:bold;
    color:#4169E1;
}


@media only screen and (min-width: 768px) {
    .left-right{
        width:1120px; 
        width:900px;
        justify-content:space-around;
    }

    .name{
        font-size:22px;
    }

    .address{
        margin-top:25px;
    }

    .map{
        width:470px;
        height:550px;
    }

    .cafe{
        justify-content: center;
        max-height:none;
    }

    .yelp{
        width:100px;
        height:35px;
    }

    #pickAnother{
        float:right;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4169E1;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        outline: none;
    }

    #pickAnother:hover{
        box-shadow:none;
    }

    .all{
        padding-top: 6.8%;
    }

    .profile{
        padding-top:22px;
        padding-bottom:17px;
        width:470px;
        padding-left:20px;
        padding-right:20px;
    }

    .photo{
        height:400px;
        width:510px;  
        object-fit:cover;    
        object-position: 50% 50%;

    }

}

//for the cafe page favorite transition:
#favoritedCafePage {
    z-index:3;
}

@media only screen and (max-width: 1070px) {
    .left-right {
        flex-direction: column;
    }

    .map {
        position: relative;
        left: 16%;
        width: 600px;
        margin-top: 5px
    }

    #map-container {
        width: 600px;
    }
    
    .profile {
        width: 560px;
        margin-top: 20px;
    }

    .photo {
        width: 600px;
        object-fit:cover;
        object-position: 50% 50%;

    }

    .new-cafe {
        right: 16px
    }

    //for the favorites transition on cafe page
    #favoritedCafePage {
        position:absolute;
        left: 16.5%;
        top: -397px;
      }
}

//for the favorites transition on cafe page
@media only screen and (min-width: 1071px) {
    #favoritedCafePage {
      position:absolute;
      left: -34%;
      top: -218px;
    }
}

@media only screen and (min-width: 1100px) {
    .left-right{
        width:1120px;
        width:1050px;
        justify-content:space-around;
    }
    
    .name{
        font-size:22px;
    }

    .address{
        margin-top:25px;
    }

    .map{
        height:510px;
        width:510px; 
        
    }

    .cafe{
        justify-content: none;
        max-height:none;
    }

    .yelp{
        width:100px;
        height:35px;
    }

    .all{
        padding-top: 6.7%;
    }

    .profile{
        padding-top:22px;
        padding-bottom:17px;
        width:500px;
        padding-left:20px;
        padding-right:20px;
    }

    .photo{
        height:364px;
        width:540px;   
        object-fit:cover;     
    }

//for favorited transition on cafe page
    #favoritedCafePage {
        position:absolute;
        left: -29.5%;
        top: -218px;
      }


    
  } 

@media only screen and (min-width:1200px){
    .profile{
        padding-top:30px;
        padding-bottom:28px;
    }

    .photo{
        height:359px;
        object-fit:cover;
    }

    .map{
        width:510px;
        height:523px;
        
    }
//for favorited transition on cafe page
    #favoritedCafePage {
        position:absolute;
        left: -29.5%;
        top: -203px;
      }
  }

@media only screen and (min-width: 1370px){
    .map{
        width:525px;
        height:632px;
    }

    .cafe{
        justify-content: space-between;
        max-height:500px;
    }

    .all{
        // padding-top: 11%;
        padding-bottom: 0;
    }

    .profile{
        padding-top:30px;
        padding-bottom:28px;
    }

    .photo{
        // height:72.5%;
        min-height:500px;
        // height:auto;
        object-position:50% 80%;
        object-fit:cover;
        border-radius:3px;
    }

    .cafePhotoContainer{
        overflow:hidden;
        min-height:470px;
        max-height:500px;
        border-radius:4px;
        border-bottom: .5px solid #808080;
    }
}


@media only screen and (min-width: 1600px){
    .left-right {
        width:1230px;
    }
    
    .map{
        width:600px;
        height:632px;
        background-color:lightblue;
        
    }

    .all{
        padding-top: 10%;
    }

    .cafe{
        justify-content: space-between;
        width:580px; 
        height:550px;
    }

    .profile{
        padding-top:30px;
        padding-bottom:28px;
    }

    .photo{
        height:90.5%;
        // margin-top:10px;
    }

    .cafePhotoContainer{
        border-bottom: .5px solid #808080;

    }

    //for favorited transition on cafe page
    #favoritedCafePage {
        position:absolute;
        left: -24.5%;
        top: -203px;
      }

}

@media only screen and (max-width: 767px) {
    .profile {
        width: 450px;
        margin-right: 450px;
    }

    .left-right {
        flex-direction: column;
    }

    .cafePhotoContainer{
        min-height:410px;
    }

    .photo {
        min-height: 410px;
        width: 508px;
        margin-bottom: .1%;
        margin-right: 450px;
        object-fit:cover;
        object-position: 50% 50%;

    }

    .map {
        position: relative;
        left: 6.6%;
        width: 508px;
    }

    #map-container {
        width: 508px;
    }

    .new-cafe {
        position: relative;
        right: 21%;
    }

    #pickAnother{
        float:right;
        background-color: #4169E1;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    }

    #pickAnother:hover{
        box-shadow:none;
    }

    //for favorited transition on cafe page
    #favoritedCafePage {
        position:absolute;
        left: 2.85%;
        top: -385px;
      }
}
