#map-container {

    height: 500px;
    width: 500px;
    border-radius:5px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #map-container{
        height:550px;
    }
  } 


  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1100px) {
    #map-container{
        height:510px;
        width:510px;
       
    }
  }

  @media only screen and (min-width: 1200px) {
    #map-container{
        height:520px;
        width:510px;
       
    }
  }

  /* Extra large devices (large laptops and desktops, 1370px and up) */
@media only screen and (min-width: 1370px) {
    #map-container{
        height:525px;
        height:630px;
        width:520px;
        
    }
}

/* Extra extra large devices (like viewing it on a screen, 1550px and up) */
@media only screen and (min-width: 1600px){
  #map-container{
    height:630px;
    width:600px;


}
}