#favorited {
  display: flex;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  top: 750px;
  height: 40px;
  width: 500px;
  left: 150px;
  background-color: rgb(255, 235, 230);
  padding: 20px;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
 
}

#unfavorite {
  
  display: flex;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  top: 750px;
  height: 40px;
  width: 500px;
  left: 150px;
  background-color: rgb(255, 235, 230);
  padding: 20px;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}



.spicy-enter {
	opacity: .01;
	transform: scaleX(0) translateY(100px);
}

.spicy-enter.spicy-enter-active {
	opacity: 1;
	transform: scaleX(1) translateY(0);
	transition: all 500ms ease-in-out;
}

.spicy-leave {
	opacity: 1;
	transform: scaleX(1) translateY(0);
}

.spicy-leave-active {
	opacity: 01;
	transform: scaleX(0) translateY(100px);
	transition: all 300ms ease-in-out
}


