.favorited {
  border-radius: 10px;
  position: relative;
  top: 5px;
  height: 40px;
  width: 500px;
  left: 150px;
  background-color: yellow;

  
}


#fade-in {
  height: 150px;
  width: 1px;
  opacity: 0;
  transition: all .75s ease;
}

#fade-in.show {
  opacity: 1;
  height: 150px;
  width: 500px;
}

