#favorited {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  position: absolute;
  top: 437px;
  height: 40px;
  width: 497.25px;
  min-width: 100px;
  left: 179px;
  background-color: rgb(255, 235, 230);
  padding: 20px;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;

}



.favorite-box {
  display: flex;
  justify-content: space-between;
}

#unfavorite {
  
  display: flex;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  top: 437px;
  height: 40px;
  width: 497.25px;
  min-width: 100px;
  left: 179px;
  background-color: rgb(255, 235, 230);
  padding: 20px;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}



.spicy-enter {
	opacity: .01;
	transform: scaleX(0) translateY(25px) translateX(-500px);
}

.spicy-enter.spicy-enter-active {
	opacity: 1;
	transform: scaleX(1) translateY(0);
	transition: all 500ms ease-in-out;
}

.spicy-leave {
	opacity: 1;
	transform: scaleX(1) translateY(0);
}

.spicy-leave-active {
	opacity: 01;
	transform: scaleX(0) translateY(25px) translateX(-500px);
	transition: all 300ms ease-in-out
}

#my-favorites {
  color: #4169E1;
}

#my-favorites:hover {
  cursor: pointer;
  text-decoration: underline;

}

@media only screen and (max-width: 1070px) {
    #favorited {
        top: 550px;
        left: 55px;
    }

    #unfavorite {
        top: 550px;
        left: 55px;
    }

   
}

@media only screen and (min-width: 1071px) {
    #favorited {
      top: 350px;
      left: 182px
    }

    #unfavorite {
      top: 350px;
      left: 182px
    }
}



