@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

.favorites-page {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #4169E1 0%, rgba(65,225,167,0.3) 50%, rgba(65,225,167,0.05) 100%)
}

@media only screen and (max-height: 768px){
    .favorites-div {
    background: white;
    /* margin-top: 12%; */
    width: 70%;
    min-width: 890px;
    /* flex-direction: column; */
    border-radius: 5px;
    padding: 20px;
    height: 400px;
    overflow: auto;
    }
}

@media only screen and (min-height: 768px){
    .favorites-div {
    background: white;
    /* margin-top: 12%; */
    width: 70%;
    min-width: 890px;
    /* flex-direction: column; */
    border-radius: 5px;
    padding: 20px;
    height: 550px;
    overflow: auto;
    }
}





.back-profile-div {
    width: 230px;
    padding-left: 15px;
}

.back-arrow {
   padding-right: .5%;
   color: rgba(255, 127, 80, 0.8);
   font-family: "Open Sans";
   padding-left: 2%
}

.back-profile-header {
    color: rgba(255, 127, 80, 0.8);
    text-decoration: none;
    font-family: "Open Sans";
    padding-left: .5%;
    width: 130px;
    display: flex;
    justify-content: space-between
}

.back-profile-header:hover {
    cursor: pointer
}

.fav-cafe-img {
    width: 90px;
    height: 70px;
    border-radius: 5px;
    margin-left: 4px
}

.fav-cafe-img:hover {
    cursor: pointer
}

#cafe-box {
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 250px;
    border-radius: 5px;
    padding: 10px;
    border:1px solid rgb(151, 151, 151);
    position:relative;
   
}

#cafe-box:hover {
    background-color: rgb(255, 235, 230)
}

.cafe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cafe-text-info-outer{
    display:flex;
    flex-direction:column;
    position:relative;
}

.cafe-text-info {
    display: flex;
    flex-direction: column;
    position:relative;
    justify-content: space-between;
    // position:absolute;
}

.favorite-remove {
    padding-top: 10px;
    font-family: "Open Sans";
    color: rgb(140, 140, 140);
    display: inline-block;
    width: 52px;
    font-size:14px;
    position:absolute;
    top:50px;
    // border:1px solid black;
  
}

.favorite-remove:hover {
    cursor: pointer
}

.favorites-and-pick {
    display: flex;
    justify-content: space-between;
}

.favorites-header{ 
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 900;
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
    bottom: 6px;
}

.pick-random {
    height: 35px;
    border: none;
    width: 180px;
    background-color: #FF7F50;
    color: #ffffff;
    border-radius: 50px;
    font-size: 12px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    margin-right: 20px;
    outline: none
}

.pick-random:hover {
    box-shadow: none;
    cursor: pointer;
}

.modal-cafe-name {
    font-family: "Montserrat";
    font-weight: 900;
}

.modal-cafe-name:hover {
    cursor: pointer
}

.modal-cafe-address {
    font-family: "Open Sans";
    font-size: 13px;
    padding-top: 5px;
    font-weight: lighter;
}

.modal-cafe-address:hover {
    cursor: pointer
}



.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}