@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

.navbar {
    position: absolute;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #4169E1;
    z-index: 99
}

.button {
    display: inline-block;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: white;
    text-decoration: none;
    /* padding-left: 5%; */
    width: 30%;
    text-align: center
}

.buttonCrew{
    display: inline-block;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: white;
    text-decoration: none;
    /* padding-left: 5%; */
    width: 35%;
    text-align: center
}


.button2{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    padding-left: 1%;
    width: 25%;
    background-color:#4169E1;
    color:white;
    border:none;
    /* Fei changed width to 30% */
    width:30%;
    outline: none
}

.button:hover{
    font-size:15px;
    font-weight:bold;
}

.button2:hover{
    cursor: pointer;
    font-size:15px;
    font-weight:bold;
    color:white;
}

.buttonCrew:hover{
    font-size:15px;
    font-weight:bold;
    color:white;
}


.logo {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding-left: 4%;
    padding-left: 10%;
    text-decoration: none;
}

.coffeeImgLogo{
    height:40px;
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}

.button-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: .5%;
    padding-right: 6%;
    width: 450px;
    padding-top: 0.5%;
}

.button-div-logout {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: .5%;
    padding-right: 5%;
    width: 550px;
    padding-top: 0.5%;
}



.vertical-line-navbar {
    width: 6%;
    height: .1px;
    border: .5px solid white;
    transform: rotate(90deg);
}

.gitIconNavbar{
    z-index:5;
    border:1px solid black;
    background-color:white;
}

.gitIconLink{
    width:30px;
}

.gitIconLink:hover{
    /* width:31px; */
    /* border-radius: 50%; */
    /* margin-top: 2px; */
    margin-bottom: 1.5px;
    border-radius:  10px 10px 10px 10px;
    /* background-color: #FF7F50; */
}

/* a.gitIconLink{
    position:absolute;
    z-index:10;
    border:2px solid red;
}

.gitIconLink img{
    position: relative;
    height:2%;
    width:2%;
    left:40vw;
    right:0vh;
} 

img.gitIconLink{
    z-index:99;
    position:absolute;
    width:10%;
    border: 2px solid blue;
    top:0px;
    right:px;

} */

.logoCrew{
    display:inline-block;
    width:20%;
    margin-bottom:13px;

}

.coffeeImgLogo{
    margin-bottom:-7px;
}