@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

.modal-backdrop {
   position: fixed;
   display: flex;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(44, 44, 44, 0.671);
   z-index: 9999;
   align-items: center;
   overflow: hidden;
}

.time-modal-red {
    color: red;
    font-family: "Open Sans";
    font-size: 16px;
    padding-bottom: 7px;
}
.carousel-modal {
    flex-flow: column nowrap;
    max-height: 700px;
    justify-content: space-around;
    margin: auto;
    position: relative;
    width: 850px;
    align-items: center;
    background-color: white;
    border: 2px solid #EBEBEB;
    box-shadow: 0 0 10px #EBEBEB;
    border-radius: 5px;
}

.map-modal {
    flex-flow: column nowrap;
    max-height: 700px;
    justify-content: space-around;
    margin: auto;
    position: relative;
    width: 850px;
    align-items: center;
    background-color: white;
    border: 2px solid #EBEBEB;
    box-shadow: 0 0 10px #EBEBEB;
    overflow-y: scroll;
}


.carousel-container {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 900px;
    margin-left: 0 auto;
    overflow: hidden;
    height: 400px;
    position: relative;
}

.carousel-img {
    height: 400px;
    width: 300px;
}

.business-misc {
    padding-bottom: 30%;
}

.modal-name {
    padding-top: 10px;
    padding-left: 30px;
    padding-right:30px;
    padding-bottom:40px;
    font-family: "Montserrat";
    font-size: 30px;
    color: rgb(247, 96, 42);
     color: black;
}

.modal-horizontal-line {
    position: relative;
    bottom: 30px;
    left: 32px;
    width: 769px;
    height: .01px;
    border: 1px solid black;
}

.modal-distance-duration {
    color: black;
    font-family: "Open Sans";
    font-size: 15px;
    position: relative;
    padding-left: 30px;
    padding-bottom: 7px;
    position: relative;
    right: 30px;
}

.modal-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
}

.modal-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    bottom: 10px;
    padding-right: 35px;
    right: 35px;
}

.rolled-favorited {
    font-family: "Open Sans";
    font-size: 15px;
    padding-top: 10px;
    padding-right: 20px;

}

.vertical-line-modal {
    width: 110px;
    height: .1px;
    border: 1px solid black;
    transform: rotate(90deg);
    margin-top: 50px;
    position: relative;
    right: 35px;
}

.business-misc-flex {
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 3px;
    bottom: 5px;
}

.time-modal {
    color: black;
    font-family: "Open Sans";
    font-size: 15px;
    padding-bottom: 7px;
}

.modal-address {
    color: black;
    font-family: "Open Sans";
    font-size: 15px;
    padding-bottom: 7px;
}

.yelpLk{
    color:#4169E1;
    text-decoration:none;
}

.yelpLk:hover{
    text-decoration: underline;
}

.noun-espresso {
    width: 30px;
    height: 30px;
    position: relative;
    left: 7px;
}

.modal-horizontal-info {
    width: 500px;
    height: .01px;
    margin-left: auto;
    margin-right: auto;
    border: .5px solid black;
    margin-bottom:15px;
    position: relative;
    top: 10px;
}


.cafe-remove {
    height: 35px;
    border: none;
    width: 90px;
    background-color: black;
    color: #ffffff;
    border-radius: 50px;
    font-size: 12px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    margin-left: 15px;
    outline: none;
}

.cafe-remove:hover {
    cursor: pointer;
    box-shadow:none;
    background-color: rgb(38, 38, 38)
}

.check-yelp {
    font-family: "Open Sans";
    color: black;
    padding-left: 97px;
    font-size: 14px
}

.check-yelp:hover {
    color: blue;
}



@media only screen and (max-width: 1070px) {

    .carousel-modal {
        height: 520px;
        padding-bottom: 50px;
        width: 600px
    }

    .carousel-container {
        width: 800px;
    }

    .business-misc {
        position: relative;
        bottom: 190px;
    }

    .modal-horizontal-line {
        width: 560px;
        left: 20px;
    }

    .vertical-line-modal {
        right: 10px;
        width: 150px;
        margin-top: 60px;
    }

    .modal-right {
        right: 10px
    }
}

@media only screen and (min-width: 1071px) {
    .carousel-modal {
        height: 600px;
        padding-bottom: 5px;
    }

    .carousel-container {
        width: 800px;
    }

    .business-misc {
        position: relative;
        bottom: 220px;
    }
}


