@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

.modal-backdrop {
   position: fixed;
   display: flex;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(44, 44, 44, 0.671);
   z-index: 9999;
   overflow: auto;
   align-items: center;
}

.time-modal-red {
    color: red;
    margin-top: -8px;
    font-family: "Open Sans";
    font-size: 15px;
    padding-bottom: 7px;
    position: relative;
    left: 25px;
}
.carousel-modal {
    // top: -20px;
    flex-flow: column nowrap;
    max-height: 700px;
    justify-content: space-around;
    margin: auto;
    position: relative;
    width: 850px;
    align-items: center;
    background-color: white;
    border: 2px solid #EBEBEB;
    box-shadow: 0 0 10px #EBEBEB;
    // overflow-y: scroll;
    border-radius: 5px;
}

.map-modal {
    flex-flow: column nowrap;
    max-height: 700px;
    justify-content: space-around;
    margin: auto;
    position: relative;
    width: 850px;
    align-items: center;
    background-color: white;
    border: 2px solid #EBEBEB;
    box-shadow: 0 0 10px #EBEBEB;
    overflow-y: scroll;
}


.carousel-container {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 900px;
    margin: 0 auto;
    overflow: hidden;

    height: 400px;
    position: relative;
}

.carousel-img {
    height: 400px;
    width: 300px;
}

.business-misc {
    padding-bottom: 10%;
}

.modal-name {
    padding: 30px;
    font-family: "Montserrat";
    font-size: 30px;
}

.modal-horizontal-line {
    position: relative;
    bottom: 20px;
    left: 32px;
    // width: 100%;
    width: 769px;
    height: .01px;
    // margin-left: auto;
    // margin-right: auto;
    border: 1px solid black;
    // margin-bottom:15px;
    // padding: 50px;
}

.modal-distance-duration {
    // color: rgba(51, 51, 51, 0.5);
    color: black;
    font-family: "Open Sans";
    font-size: 15px;
    position: relative;
    padding-left: 30px;
    padding-bottom: 7px;
    position: relative;
    right: 30px;
}

.modal-left {
    padding-top: 3.8%;
    padding-left: 5%;
}

.modal-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rolled-favorited {
    font-family: "Open Sans";
    font-size: 15px;
    position: relative;
    // left: 20px;
    top: 30px;
    padding-top: 10px;

}

.vertical-line-modal {
    // max-width: 190px;
    width: 125px;
    height: .1px;
    border: 1px solid black;
    transform: rotate(90deg);
    position: relative;
    left: 3%;
    top: 75px
}

.business-misc-flex {
    display: flex;
    justify-content: space-around;
    position: relative;
    right: 15px;
}

.time-modal {
    // color: rgba(51, 51, 51, 0.5);
    color: black;
    margin-top: -8px;
    font-family: "Open Sans";
    font-size: 17px;
    padding-bottom: 7px;
    position: relative;
    left: 25px;
}

.modal-address {
    color: black;
    // color: rgba(51, 51, 51, 0.5);
    font-family: "Open Sans";
    font-size: 17px;
    padding-bottom: 7px;
    position: relative;
    left: 25px;
}

.noun-espresso {
    width: 30px;
    height: 30px;
    position: relative;
    left: 7px;
}

.modal-bottom {
    display: flex; 
    flex-direction: column;
    align-items: center;
    
}

.modal-horizontal-info {
    width: 500px;
    height: .01px;
    margin-left: auto;
    margin-right: auto;
    border: .5px solid black;
    margin-bottom:15px;
    position: relative;
    // left: 15px;
    top: 10px;
}


.cafe-remove {
    height: 35px;
    border: none;
    width: 90px;
    background-color: black;
    color: #ffffff;
    border-radius: 50px;
    font-size: 12px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    margin-left: 15px;
    outline: none;
}

.cafe-remove:hover {
    cursor: pointer;
    box-shadow:none;
    background-color: rgb(38, 38, 38)
}