.recommend-modal{
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid black;
    box-shadow: 0 0 10px #EBEBEB;
    border-radius: 5px;
    // max-height: 700px;
    justify-content: space-around;
    margin: auto;
    position: relative;
    // width: 850px;
    align-items: center;
    // height: 100px;
    padding: 30px;
    width: 700px;
    height: 600px;
    bottom: 20%;

    animation: login-drop 0.75s ease forwards;


}

.recommend-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}
.yes-no-box {
    display: flex;
    justify-content: space-between;
    width: 20%;
}


.gifImgDiv{
    height: 100vh;
    background: linear-gradient(180deg, #4169E1 0%, rgba(193, 65, 225, 0.3) 50%, rgba(193, 65, 225, 0.05) 100%);
    font-family: "Open Sans";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gifImgDiv img{
    position: relative;
    height: 140px;
    // left: 45vw;
    // top: 40vh;
}


.modal-gif {
    height:300px;
}

@keyframes login-drop {
    0% {}
    100% { transform: translateY(125px)}
}


.modal-recommend-backdrop {
   position: fixed;
   display: flex;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
    background: rgba(255,255,255, 0.3);
   z-index: 9998;
   align-items: center;
   overflow: hidden;
//    opacity: 0.8;


}

.yes-button {
    font-size: 60px;
}


