@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

/* added by FEI; DON'T TAKE OUT */
#root{
    height:100%;
}

.within-select {
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #333333;
    padding-right: 5px;
}

.within-select-2 {
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #333333;
    padding-right: 5px
}

.within {
    display: flex;
}

.open-for {
    display: flex;
}

.open-for-selected {
    display: flex
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.profile-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    color: #333333;
    padding-left: 8%;
    padding-bottom: 10%;
    padding-top:20px
}

.email {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(51, 51, 51, 0.5);
    padding-left: 8%;
    padding-bottom: 10%
}

.zipcode {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(51, 51, 51, 0.5);
    padding-left: 8%;
    padding-bottom: 10%
}

.profile-preferences {
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #333333;
    padding-bottom: 2%
}

.checkbox {
    vertical-align: baseline;
}

.filter {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #333333;
}

.profile-info {
    border-radius: 5px;
    border: 1px solid white;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 65%;
    /* width: 100%; */
    /* min-width: 827px; */
    min-width:965px;
    height: 40%;
    padding: 40px;
}

.profile-info-div {
    display: flex;
    justify-content: space-around;
    padding-top: 7%;
    min-width:965px;
}

.filter-box-div{
    border-radius: 5px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 65%;
    /* min-width: 827px; */
    min-width:965px;
    height: 40%;
    background-color: white;
}

.filter-info-div {
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
    top: 216px;
}

.outer-filter-box-div {
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
}

.profile-page {    
    position: absolute; 
    top: 0;
    left: 0; 
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #4169E1 0%, rgba(65,225,167,0.3) 50%, rgba(65,225,167,0.05) 100%); 

}


.horizontal-line {
    width: 100%;
    height: .01px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(65, 105, 225, 0.5);
    margin-bottom:15px;
}

.vertical-line {
    width: 2%;
    height: .1px;
    border: 1px solid rgba(65, 105, 225, 0.5);
    transform: rotate(90deg)
}

.mini-1 {
    display: flex;
    justify-content: flex-end;
    padding-right: 4%;
    align-items: center;
    width: 27%
}
.mini-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%
}
.mini-3 {
    display: flex;
    justify-content: flex-start;
    padding-left: 4%;
    align-items: center;
    width: 33%
}

.top-mini-1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 45%;
}

.top-mini-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%
}

.find-cafe-profile {
    outline: none;
    width: 20%;
    height: 40px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.25);
    background: rgba(255, 127, 80, 0.8);
    border-radius: 50px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

.favorite-cafes {
    text-decoration: none;
    color: white
}

.find-cafe-profile:hover {
    cursor: pointer;
    position: relative;
    top: 2px;
    box-shadow: none;
    color:white;
}

.find-cafe-profile-div {
    display: flex;
    justify-content: center;
    padding-top: 2%;  
    padding-bottom: 3%;
}

.coffee-img {
    width: 130px;
    height: 100%;
    background-color: rgba(255, 127, 80, 0.8);
    border-radius: 50%;
    padding-right: 10px;
    padding-left: 15px;
    padding-bottom: 5px;
    max-height:164px;
}

.img-info-div {
    display: flex;

}

.only-profile-info {
    padding-top: 8px;
}

.edit {
    width: 25px;
    height: 25px;
    border-radius: 5%;
    background-color: rgba(65, 105, 225, 0.5)
}

.profile-clear {
    position: relative;
    top: 14px;
    margin-bottom: 8px;
    width: 70px;
    padding-top: 3px;
    padding-bottom: 4px;
    background-color: #ffffff;
    border: rgba(65, 105, 225, 0.5) 2px solid;
    border-radius: 5px;
    font-size: 10.5px;
    color: rgba(65, 105, 225, 0.5);
    font-weight: 900;
    outline:none;
}

.profile-clear:hover{
    color:black;
    cursor: pointer;
    font-weight:700;
    color:#4169E1;
    outline:none;
    /* background-color:#4169E1;
    color:white; */
}

.profile-clear-div {
    display: flex;
    justify-content: center;
}


.editProfileButton{
    width: 50px;
    margin-left:80%;
    display:block;    

}

.halfP1-Pinfo {
    display: flex;
}

.profile-container {
    display: flex;
}

.update-input {
    font-family: 'Open Sans';
    outline: none;
    padding: 1%;
    font-size: 13px;
    position: relative;
    left: 90%;
    top: 2px;
    width: 90%;
    color: rgb(64, 64, 64);
    padding-bottom:0px;
    padding-top:0px;
}

.update-input:focus {
    background: rgb(255, 235, 230)
}

.updateProfileImg {
    max-width: 30px;
    width: 14%;
    min-width: 26px;
    background: rgba(65, 105, 225, 0.5);
    border-radius: 10%;
    padding: 1%;
    position: relative;
    left: 95%;
}

.updateProfileImg:hover {
    cursor: pointer;
    background: rgb(101, 133, 231)
}

.halfProfile2 {
    width: 50%;
    height: 50%;
    /* padding-left: 10% */

}

.update-profile-div *{
    margin-top:3px;
}

.update-profile-div {
    display: flex
}

.update-errors {
    font-family: "Open Sans";
    color: red;
    font-size: 15px;
    position: relative;
    left: 97%;
    padding-top: 3px;
    /* padding-bottom: % */
}

.updateProfileButton {
    position: relative;
    left: 90%;
    top: 2px;
    outline: none;
    width:105px;
    padding-left:3px;
    padding-right:3px;
    background-color:white;
}

.updateProfileButton:visited{
    font:11px;
    font-weight:bolder;
    color: #4169E1;
    background-color:#ffffff;
    cursor:pointer;
}

.updateProfileButton:hover{
    font:11px;
    font-weight:bolder;
    color: #4169E1;
    background-color:#ffffff;
    cursor:pointer;

}

.updateProfileButton:active{
    font:11px;
    font-weight:bolder;
    color: #4169E1;
    cursor:pointer;
    background-color:#fdfffc;
    border-radius:5px; 
    border:1px solid rgba(51,51, 51, .3);
}



.update-profile-close {
    position: relative;
    left: 90%;
    top: 2px;
    outline: none;
    width:50px;
}

.update-profile-close:hover{
    font:11px;
    font-weight:bolder;
    color: #4169E1;
    cursor:pointer;
    
}

button.update-profile-close:active{
    font:11px;
    font-weight:bolder;
    color: #4169E1;
    cursor:pointer;
    background-color:#fdfffc;
    border-radius:5px; 
    border:1px solid rgba(51,51, 51, .3);
}

.vertical-line-profile {
    max-width: 190px;
    max-width:160px;
    height: .1px;
    border: 1px solid rgba(65, 105, 225, 0.5);
    transform: rotate(90deg);
    position: relative;
    left: 25%;
    top: 55%;
    top:50%;
}

.profile-labels {
    font-family: 'Open Sans';
    position: relative;
    left: 90%;
    top: 2px;
    font-size: 14px;
    width: 60%;
}

.update-profile-form {
    width: 60%;
   
}

.noun-espresso {
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 3%;
}

.favorite-cafe-profiles {
    outline: none;
    width: 20%;
    height: 40px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.25);
    background: rgba(255, 127, 80, 0.8);
    border-radius: 50px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 4%
}

.favorite-cafe-profiles:hover {
    cursor: pointer;
    position: relative;
    top: 2px;
    box-shadow: none;
    color:white;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .profile-info{
        padding-top:30px;
        padding-bottom:30px;
    }

    .filter-box-div{
        padding-top:25px;
        padding-bottom:25px;
    }

    .find-cafe-profile-div {
        padding-top:1.7%
    }

  } 


  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .profile-info{
        padding-top:30px;
        padding-bottom:30px;
    }

    .filter-box-div{
        padding-top:25px;
        padding-bottom:25px;
    }

    .find-cafe-profile-div {
        padding-top:1.7%
    }

    .profile-preferences{
        font-size:16px;
    }
  } 

  /* Extra large devices (large laptops and desktops, 1370px and up) */
  @media only screen and (min-width: 1370px) {
    .profile-info{
        padding:40px;
    }

    .filter-box-div{
        padding: 40px;
    }

    .find-cafe-profile-div{
        padding-top: 2%;  
    }

    .updateProfileImg{
        left:104%;
    }
}


/* Extra extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
    .updateProfileImg{
        left:109%;

    }
    
    label.filter{
        font-size:16px;

    }

    .within-select{
        font-size:16px;
    }

    .profile-preferences{
        font-size:16px;
    }

    .filter-box-div{
        min-width:1060px;
    }

    .profile-info{
        /* min-width:980px; */
        min-width:1060px;
        
    }


   
}


/* Extra extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
    .updateProfileImg{
        left:114%;
    }

    .profile-preferences{
        font-size:17px;
    }
}

/* Extra extra large devices (large laptops and desktops, 1700px and up) */
@media only screen and (min-width: 1700px) {
    .updateProfileImg{
        left:120%;
    }
}




