@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.within-select {
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #333333;
    padding-right: 5px;
}

.within-select-2 {
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #333333;
    padding-right: 5px
}

.within {
    display: flex;
}

.open-for {
    display: flex;
}

.open-for-selected {
    display: flex
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.profile-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #333333;
    padding-left: 3%;
    padding-bottom: 10%
}

.email {
    /* padding-bottom: 1.5%; */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.5);
    padding-left: 3%;
    padding-bottom: 10%
}

.zipcode {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.5);
    padding-left: 3%;
    padding-bottom: 10%
}

.profile-preferences {
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #333333;
    padding-bottom: 2%
}

.checkbox {
    vertical-align: baseline;
}

.filter {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #333333;
}

.profile-info {
    border-radius: 5px;
    border: 1px solid white;
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 65%;
    height: 40%;
    padding: 40px;
    /* align-content: space-between; */
}

.halfProfile1{
    margin-right:7%;
    margin-left:7%;

}

.halfProfile2{
    margin-right:7%;
    margin-left:7%;
}

.profile-info-div {
    display: flex;
    justify-content: space-around;
    padding-top: 7%;
    /* top: 216px; */

}

.filter-box-div{
    border-radius: 5px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 65%;
    height: 40%;
    /* width: 946px;
height: 181px;
left: 247px;
top: 216px; */
    background-color: white;
}

.filter-info-div {
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
    top: 216px;
}

.outer-filter-box-div {
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
}

.profile-page {     
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(180deg, #4169E1, rgba(65, 225, 167, .15)) */
    background: linear-gradient(180deg, #4169E1 0%, rgba(65,225,167,0.3) 50%, rgba(65,225,167,0.05) 100%); 

}

#root {
    height: 100%;
}

.horizontal-line {
    width: 100%;
    height: .01px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(65, 105, 225, 0.5);
    /* margin-top: 100px; */
    margin-bottom:15px;
}

.vertical-line {
    width: 2%;
    height: .1px;
    border: 1px solid rgba(65, 105, 225, 0.5);
    transform: rotate(90deg)
}

.mini-1 {
    display: flex;
    justify-content: flex-end;
    padding-right: 4%;
    align-items: center;
    width: 27%
}
.mini-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%
}
.mini-3 {
    display: flex;
    justify-content: flex-start;
    padding-left: 4%;
    align-items: center;
    width: 33%
}

.top-mini-1 {
    display: flex;
    justify-content: flex-end;
    /* padding-right: 4%; */
    align-items: center;
    width: 45%;
}

.top-mini-2 {
    display: flex;
    justify-content: flex-start;
    /* padding-right: 4%; */
    align-items: center;
    width: 50%
}

.find-cafe-profile {
    outline: none;
    width: 65%;
    height: 40px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.25);
    background: rgba(255, 127, 80, 0.8);
    border-radius: 50px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

.find-cafe-profile-div {
    display: flex;
    justify-content: center;
    padding-top: 2%;  
}

.coffee-img {
    width: 22%;
    height: 1%;
    background-color: rgba(255, 127, 80, 0.8);
    border-radius: 42%
}

.img-info-div {
    display: flex;
}

.only-profile-info {
    padding: 8px;
}

.edit {
    width: 25px;
    height: 25px;
    border-radius: 5%;
    background-color: rgba(65, 105, 225, 0.5)
}

.profile-clear {
    position: relative;
    top: 14px;
    margin-bottom: 8px;
    width: 70px;
    padding-top: 3px;
    padding-bottom: 4px;
    background-color: #ffffff;
    border: rgba(65, 105, 225, 0.5) 2px solid;
    border-radius: 5px;
    font-size: 9px;
    color: rgba(65, 105, 225, 0.5);
    font-weight: 900;
}

.profile-clear-div {
    display: flex;
    justify-content: center;
}


.editProfileButton{
    width: 50px;
    margin-left:80%;
    display:block;    

}

/* .halfProfile2 .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
} */

.halfProfile2{
    width:0px;
}
