@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

#withinMsg{
    font-size:16px;
    margin-right:10px;
}


.splashIndex {
    height: 100vh;
    background: linear-gradient(180deg, #4169E1 0%, rgba(193, 65, 225, 0.3) 50%, rgba(193, 65, 225, 0.05) 100%);
    font-family: "Open Sans";
    position:absolute;
}

.splash-filter {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #333333;
    padding-left: 10px;
    line-height:1.2;
}

.splash-filter-2 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #333333;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 866px;
    height: 420px;
    top: 23vh;
    background: #ffffff;
    color: #333333;
}

.checkbox{
    vertical-align:bottom;
    margin-right:5px;
    vertical-align:text-top;
}

.alignbottom2{
    vertical-align:top;
}

.cta {
    position: relative;
    top: 63px;
    text-align: center;
    font-family: "Montserrat";
    font-size: 34px;
    font-weight: 600;
}

#looking-for {
    position: relative;
    top: 90px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.preferences {
    border: 1px solid rgba(65, 105, 225, 0.2);
    background-color: rgba(65, 105, 225, 0.2);
    border-radius: 10px;
    position: relative;
    top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 18px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 12px;
    font-weight: 400;
}



.divider {
    color: rgba(65, 105, 225, 0.5);
    position: relative;
    top: 3px;
}

.distance-hours {
    display: flex;
    justify-content: space-between;
}

.distance {
    padding-right: 20px;
    
}

.fas {
    color: gray;
    padding-right:3px;
    padding-left:2px;
    font-size:16px;
}

.hours {
    padding-left: 20px;
    font-size:15px;
}

.other-filters {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.wifi {
    padding-right: 20px;
}

.card {
    padding-left: 20px;
    padding-right: 20px;
}

.noise {
    padding-left: 20px;
}

.clear {
    position: relative;
    top: 14px;
    margin-bottom: 8px;
    width: 72px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 13.5px;
    color: rgba(65, 105, 225, 0.8);
    outline:none;
}

button.clear:hover {
    cursor: pointer;
    font-weight:bold;
    color:#4169E1;
}

.roll-cafe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 145px;
    height: 43px;
    width: 360px;
    border-radius: 50px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    
}


#zip {
    outline: none;
    border: none;
    position: relative;
    height: 85%;
    left: 12px;
    font-size: 13.5px;
    font-family: "Montserrat";
    width: 230px;
}



#cafe-submit {
    height: 43px;
    border: none;
    width: 110px;
    background-color: #FF7F50;
    color: #ffffff;
    border-radius: 50px;
    font-size: 13.5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    outline:none;
}

#cafe-submit:hover {
    cursor: pointer;
    box-shadow:none;
}

#welcomeName{
    padding-top:25px;
    position:absolute;
    font-size: 19px;
    font-family: "Open Sans";
}

#sf-available {
    position: relative;
    top: 155px;
    text-align: left;
    color: gray;
    font-size: 15px;
    font-weight: 300;

}


#parent #popup {
    background-color:  rgb(255, 235, 230);
    color: grey;
    border-radius: 4px;
    width: 200px;
    display: none;
    position:absolute;
    font-size: 16px;
    font-weight: 100;
    padding: 10px;
    padding-left:12px;
    font-family: "Open Sans";
    bottom: 10px;
    left: 250px;
    width: 220px;
}

#parent:hover #popup {
  display: block;
  color: gray;


}


#parent-2 #popup-2 {
    background-color:  rgb(255, 235, 230);
    color: grey;
    border-radius: 4px;
    width: 320px;
    display: none;
    position:absolute;
    font-size: 14px;
    font-weight: 100;
    padding: 5px;
    padding-right:7px;
    padding-left:10px;
    font-family: "Open Sans";

  
}

#parent-2:hover #popup-2 {
  display: block;
  color: gray;
}

/* Extra extra large devices (like viewing it on a screen, 700px and up) */
@media only screen and (min-width: 700px){
    .content{
        height:430px;
    }

}   


/* Extra extra large devices (like viewing it on a screen, 1500px and up) */
@media only screen and (min-width: 1500px){
    .preferences * {
        // font-size:13.5px;
        
    }

    .filter{
        font-size:16px;
    }

    .content{
        height:450px;
    }

    #welcomeName{
        padding-top:40px;
    }

    
    .cta{
        top:65px;
        font-size:33px;
    }

    div#looking-for{
        top:110px;
        padding-bottom:15px;
        font-size:17px;
    }

    .hours > span {
       font-size:16px;
    }


    .roll-cafe{
        margin-top:5px;
    }

    .preferences{
        padding-bottom:20px;
        padding-top:20px;
        padding-left:45px;
        padding-right:45px;
        
    }

    input.checkbox{
        // margin:5px;
        vertical-align:text-top;
        margin-right:5px;
    }

    input.checkbox.alignbottom2{
        vertical-align:top;
    }

    

    button.clear {
        font-size:13.5px;
    }

    input#zip{
        font-size:13.5px;
    }

    #withinMsg{
        font-size:16px;
        margin-right:10px;   
    }

}

@media only screen and (min-width: 876px){
    .splashIndex{
        position:relative;
    }
}