.errorsIndex {
    /* // border: 1px solid red; */
    height: 100vh;
    background: linear-gradient(180deg, #4169E1 0%, rgba(193, 65, 225, 0.3) 50%, rgba(193, 65, 225, 0.05) 100%);
    font-family: "Open Sans";
    position:absolute;
}

// .index .errors {
//     font-size: 40px;
//     color: white;

//     position: relative;
//     height: 140px;
//     left: 0vw;
//     top: 12vh;

// }

.errorsContent {
    font-size: 40px;
    color: white;
    position: relative;
    height: 140px;
    left: 0vw;
    top: 12vh;

}



#yellow {
    padding-left:50px;
}

#yellow2{
    padding-left:50px;
}


#study-img {

    left: 20vh;
    top: 2vh;
}



.sorry {
    font-size: 90px;
    padding-left:50px;
}


#doggos-1 {
    position: relative;
    left: 55vh;
    top:-6vh;

}

#doggos-2{

    position: relative;
    left: 55vh;
    top:-3vh;
    color:grey;
}

