.index {
    /* // border: 1px solid red; */
    height: 100vh;
    background: linear-gradient(180deg, #4169E1 0%, rgba(193, 65, 225, 0.3) 50%, rgba(193, 65, 225, 0.05) 100%);
    font-family: "Open Sans";
}

.index .errors {
    font-size: 40px;
    color: white;

    position: relative;
    height: 140px;
    left: 0vw;
    top: 32vh;
}
