// .index-errors {
//     /* // border: 1px solid red; */
//     position: absolute;
//     top: 0;
//     left: 0;
//     min-height: 100%;
//     min-height: 100%;
//     margin: 0;
//     padding: 0;
//     background: linear-gradient(180deg, #4169E1 0%, rgba(193, 65, 225, 0.3) 50%, rgba(193, 65, 225, 0.05) 100%);
//     font-family: "Open Sans";
// }

.bla {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #4169E1 0%, rgba(193, 65, 225, 0.3) 50%, rgba(193, 65, 225, 0.05) 100%);
    font-family: "Open Sans";
}

.bla .errors {
    font-size: 40px;
    color: white;

    // position: relative;
    // height: 140px;
    // left: 0vw;
    // top: 12vh;
}

#yellow {
}

#study-img {

    left: 20vh;
    top: 2vh;
}



.sorry {
    font-size: 90px;
}


#doggos-1 {
    position: relative;
    left: 55vh;
    top:-6vh;

}

#doggos-2{

    position: relative;
    left: 55vh;
    top:-3vh;
    color:grey;
}

